Hello,<%=name%>! How old are you?
<form method = "post" action = "/age">
<input type = "number" name = "age_input">
<input type="text" name='name_input' value=<%=name%> hidden>
<input type="submit" value="submit">
</form>